body {
    font-family: 'Bangers', cursive;
    background-color: midnightblue;
}

#intro {
    text-align: center;
    margin-top: 200px;
}

#painting {
    text-align: center;
}

h1 {
    color: white;
    font-size: 100px;
}


/* buttons */
#play, #back{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    color: tomato;
    letter-spacing: 1px;
}

#back {
    margin-top: 30px;
    margin-bottom: 20px;
}

#play:hover, #back:hover  {
    background-color: tomato;
    color: white;
}


/* create paintings visability property */
.hidden {
    visibility: hidden;
    display: none;
}

.showing {
    visibility: visible;
    display: block;
}

img {
    width: 1200px;
    height: 768px;
}

.person {
    width: 1200px;
    height: 1300px;
}

#story1 {
    transition: opacity 3s;
}


/* create a zoom in and out property */
.zoomIn {
    transform: scale(1);
    opacity: 1;
    transition: all 3.5s;
}

.zoomOut {
    transform: scale(0);
    opacity: 0;
    transition: all 3.5s;
}


/* story text box decorations */
section p {
    font-size: 17px;
    background: white;
    border-radius: 15px 10px 30px 5px;
    border-style: solid;
    border-color: tomato;
    padding: 20px;
    width: 500px;
    height: 50px;
    letter-spacing: 1px;
}


/* stories that contain the text boxes should have position:relative so you are positiong the text in relation to the 0,0 of each section inside the article, not the browser window */
article section {
    position: relative;
}


/* text box position */
.text1 {
    position: absolute; 
    left: 450px;
    top: 5px;
}

.text2 {
    position: absolute;
    left: 70px;
    top: 120px;
}

.text3 {
    position: absolute;
    left: 70px;
    top: 160px;
}

.text4 {
    position: absolute;
    left: 260px;
    top: 80px;
}

footer {
    text-align: center;
    color: white;
}

footer a:hover {
    background-color: tomato;
    color: white;
}

footer a {
    letter-spacing: 1px;
    color: tomato;
}