body {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    padding: 50px;
    line-height: 1.7em;
    letter-spacing: 0.6px;
    background-color: lightcoral;
    padding-top: 33px;
}

div {text-align: center;}

.hidden {
    visibility: hidden;
    display: none;
}

.showing {
    visibility: visible;
    display: block;
}

button { 
    padding: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#quit, 
#how,
#throw1, 
#throw2, 
#pass1,
#pass2,
#submit,
#play, 
#play_again {
    border-width: 3px;
    border-radius: 17px;
    border-color: black;
    background-color: white;
    letter-spacing: 0.9px;
    outline: none;
}

#quit:hover, 
#how:hover,
#throw1:hover,
#throw2:hover, 
#pass1:hover,
#pass2:hover,
#submit:hover, 
#play:hover,
#play_again:hover {
    background-color: gray;
    color: white;
    border-color: lightcoral;
}

#circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* -1 puts the animation behind whatever */
}

#circles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: white;
    bottom: -100px;
    animation: circle 20s infinite;
    border: 2px solid gray;
    border-radius: 50%;
    transition-timing-function: linear;
}

#circles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
    animation-delay: 0;
    animation-duration: 5s;
}

#circles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 50%;
    animation-delay: 5ms;
    animation-duration: 7s;
}

#circles li:nth-child(3) {
    width: 25px;
    height: 25px;
    left: 35%;
    animation-delay: 3s;
    animation-duration: 3s;
}

#circles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    animation-delay: 2.5s;
    animation-duration: 9s;
}

#circles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 60%;
    animation-delay: 1s;
    animation-duration: 5s;
}

@keyframes circle {
    0% {
        transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

.title {
    letter-spacing: 10px;
    margin-top: 30vh;
    font-size: 80px;
    color: black;
    text-transform: uppercase;
    transform: rotate(-11deg) skew(-11deg);
}

/* when you hover the play button, the body bg changes color */
body.hovered {background-color: gray;}

#play {
    margin-top: 100px;
    font-size: 35px;
    z-index: 1;
}

#intro {margin-left: 50px;}

h1 {margin-bottom: 30px;}

ul li {
    margin-left: 1.5vw;
}

.pokebg {
    position: absolute;
    height: 65vh;
    width: 43vw;
    top: 10vw;
    left: 8vw;
    z-index: -1;
}

#input_names {
    position: absolute;
    top: 30vh;
    left: 60vw;
    display: block;
    width: 350px;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 40px;
    box-shadow: 10px 10px 8px #888888;
}

#input1, #input2 {margin-bottom: 30px;}

ol {
    margin-right: 50vw;
    margin-left: 2.7vw;
}

ol li {margin-top: 10px;}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 15vh;
}

/* Control the left side */
.left {
    left: 0;
    background-color:tomato;
}

/* Control the right side */
.right {
    right: 0;
    background-color: mediumseagreen;
}

#card {
    background-color:lightblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 45px;
    margin-left: 25vw;
    margin-top: 60px;
}

#fade_box_left {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    margin-top: 15vh;
    left: 0;
    background-color:black;
    opacity: 0.7;
}

#fade_box_right {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    margin-top: 15vh;
    right: 0;
    background-color:black;
    opacity: 0.7;
}

#how, #quit {
    font-size: 20px;
    margin-right: 20px;
}

#dice_img1 img, #dice_img2 img{ 
    width: 180px;
}

#throw1, #throw2 {
    font-size: 30px;
    margin-right: 35px;
}

#pass1, #pass2 {
    font-size: 30px;
}

#winner_name {margin-top: 50px;}

.announce_winner {
    margin-top: 30vh;
    margin-bottom: 20vh;
    font-size: 100px;
}

#play_again {margin-bottom: 50px;}

footer {
    text-align: center;
    color: white;
}

footer a:hover {
    background-color: black;
    color: white;
}

footer a {
    color: white;
}