body {
    font-family: 'Comfortaa', cursive;
    color: white;
    padding: 50px;
    line-height: 1.5em;
    background-color: lightcoral;
}

#card {
    background-color:lightblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 45px;
    margin-left: 25vw;
    margin-top: 60px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.showing {
    visibility: visible;
    display: block;
}

#intro {margin-left: 50px;}

h1 {margin-bottom: 40px;}

.p1, .p2 {margin-right: 30vw;}

button { 
    padding: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#startgame, 
#quit, 
#how,
#roll, 
#rollagain, 
#pass,
#startgame, 
#next {
    border-width: 3px;
    border-radius: 17px;
    border-color: black;
    background-color: white;
}

#startgame:hover, 
#quit:hover, 
#how:hover,
#roll:hover,
#rollagain:hover, 
#pass:hover,
#startgame:hover, 
#next:hover {
    background-color: black;
    color: lightcoral;
    border-color: lightcoral;
}

/* when you hover the play button, the body bg changes color */
body.hovered {background-color:black}

div {text-align: center;}

#startgame {
    margin-top: 35px;
    font-size: 25px;
}

#how {margin-right: 20px;}

img {
    padding: 20px;
    border-radius: 17px;
    background-color: black;
    width: 11vw;
    margin-right: 30px;
    margin-top: 20px;
}

#tell_player, #roll_pass {
    margin: 50px;
}

#game {margin: 30px;}

.winner {
    background-color: red;
    padding: 20px;
}

footer {
    text-align: center;
    color: white;
}

footer a:hover {
    background-color: black;
    color: white;
}

footer a {
    letter-spacing: 1px;
    color: white;
}